html{
  background-color: #000000;
  color: #ffffff;
}

.col {
  flex: 1 0;
  background-color: #000000;
  color: #ffffff;
}
.homeOptions{
  display: flex;
  justify-items: center;
  background: none;
}
.App {
  background-image: url('./images/front-view-yummy-meat-cheeseburger-with-french-fries-dark-background-dinner-burger-fast-food-sandwich-toast-salad-dish.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  height: 100vh;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-inner-logo {
  max-width: 200px;
  margin: 0 auto;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
.item-line{
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 0 auto;
  /* width: 100%; */
}

.total{
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin: 0 auto;
  font-weight: bold;
}

.menuContainer{
  display: inline-flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: left;
  background-color: #7BCB46;
  border-radius: 6px;
  margin:auto;
  padding: 10px;
}

.multiple-menu-cont{
  display: inline-flex;
  flex-direction: row;
  /* flex-flow: row wrap; */
  justify-content: space-evenly;
  align-items: left;
  background-color: #7BCB46;
  border-radius: 6px;
  margin:auto;
  padding: 10px;
  gap: 2%;
}

.orderContainer{
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  margin:auto;
  padding: 10px;
}

.rowButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-button{
  background-color: #FEF2C1;
  border: none;
  border-radius: 6px;
  color: black;
  font-size: small;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  display:flex;
  flex-direction: row;
}

.main-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.main-button img{
  width: 30px;
  height: 30px;
}

.enviar-button{
  background-color: #C91F1D;
  border: none;
  border-radius: 6px;
  color:#ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.limpiar-button{
  background-color: #FFAE39;
  border: none;
  border-radius: 6px;
  color:#ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.listo-btn{
  background-color: #3fafff;
  border: none;
  border-radius: 6px;
  color:#ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.listo-btn:focus{
  background-color: #3fff65;
  border: none;
  border-radius: 6px;
  color:#ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
}

.menu-icons-home{
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 150 px;
  /* height: 100%; */
  background-color: #FEF2C1;
  border-radius: 6px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* font-size: 16px; */
  margin: 36px;
  cursor: pointer;
}

.icons-home:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.menu-icons-home img{
  width: 50px;
  height: 50px;
}

.pedido-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  margin:auto;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 6px;
  color:#000000;
  box-shadow: #000000;
}


/* .App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
